div {
    padding: auto;
    text-align: center;
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}
.header,.footer {
    background-color: #1F2937;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}

.quote {
    background-color: #E5E7EB;
}

.call-to-action {
    margin: 30px;
    background-color: #3882f6;
}

.call-to-action button {
    display: inline-block;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
}

.main-content img {
    border: 2px solid #3882f6;
    border-radius: 20px;
}

.call-to-action {
    display: flex;
}
.text{
    flex: 2;
    text-align: left
}

#Signup-text {
    display: block;
}

.main-content > div {
    display: inline-block;
}

.under > div {
    display: inline-block;
}

.footer-header {
    display: inline-block;
}